* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #414141;
    padding: 16px 0;
    color: #ffffff;
    display: flex;
    border-bottom: 16px solid #000000;
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #d3d3d3;
    padding: 24px 0;
    text-align: center;
    display: none;
}

input, 
button {
    padding: 8px;
}

button {
    background-color: #f5bf03;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;
    color: #ffffff;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}